/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* My CSS Starts Here */
body {
  line-height: 1.3;
  font-size: 18px;
}

/* media query for overall font size on tab and mobile */
@media (max-width: 800px) {
  body {
    line-height: 1.3;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  body {
    line-height: 1.3;
    font-size: 16px;
  }
}

header,
main,
footer {
  padding: 60px 80px;
}

@media (max-width: 500px) {
  header,
  main,
  footer {
    padding: 20px 80px;
  }
}

nav {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

/* media query for nav display on tab and mobile */
@media (max-width: 800px) {
  nav {
    display: flex;
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
    margin-top: 30px;
  }
}

nav a {
  color: #b5afaf;
  text-decoration: none;
}

/* media query navigation links on mobile */

@media (max-width: 500px) {
  nav a {
    color: #b5afaf;
    text-decoration: none;
    display: block;
    border-top: 1px solid gray;
    text-align: center;
    padding: 15px;
    font-size: 18px;
  }
  nav a:last-child {
    border-bottom: 1px solid gray;
  }
}

header .nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* media query for header navigation bar on tab */

@media (max-width: 800px) {
  header .nav {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

/* using media query to hide top image */

@media (max-width: 800px) {
  .first-image {
    display: none;
  }
}

.top-headline h1 {
  font-size: 105px;
  line-height: 1;
}

@media (max-width: 800px) {
  .headline-button h1 {
    font-size: 70px;
  }
}

.top-headline {
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .top-headline {
    justify-content: center;
  }
}

.top-headline .headline-button {
  text-align: center;
  margin: 0px 130px;
}

@media (max-width: 800px) {
  .top-headline .headline-button {
    text-align: center;
    margin: 0px 130px;
    justify-content: center;
  }
}

.top-headline button {
  font-size: 18px;
  border: 2px solid black;
  height: 40px;
  padding: 0 70px;
  margin: 10px 0 50px 0;
}

@media (max-width: 800px) {
  .top-headline button {
    font-size: 16px;
    border: 1px solid black;
    height: 30px;
    padding: 0 50px;
  }
}

.features-about .spacer,
.row .spacer,
.bottom-section .spacer {
  width: 30px;
  flex-shrink: 0;
}

.features-about {
  padding: 40px 0;
  display: flex;
}

@media (max-width: 500px) {
  .about,
  .product,
  .vision {
    padding-top: 40px;
  }
  .services {
    margin-top: -20px;
  }
}

@media (max-width: 500px) {
  .features-about {
    display: block;
  }
}

.middle-img {
  width: 100%;
}

.further-descriptions {
  padding: 40px 0;
  display: flex;
}

@media (max-width: 500px) {
  .further-descriptions {
    padding: 40px 0;
    display: block;
  }
}

.further-descriptions .spacer {
  width: 20px;
  flex-shrink: 0;
}

.contact-us {
  padding: 40px 0;
}

@media (max-width: 500px) {
  .contact-us {
    font-size: 16px;
    padding: 0px;
  }
}

.contact-us address {
  font-size: 18px;
  width: 153px;
}

@media (max-width: 800px) {
  .contact-us address {
    font-size: 16px;
  }
}

.contact-us a {
  text-decoration: none;
  padding: 10px 0;
  display: block;
  color: inherit;
  font-size: 18px;
}

@media (max-width: 800px) {
  .contact-us a {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .contact-us a {
    font-size: 16px;
  }
}

footer {
  text-align: center;
  padding-bottom: 100px;
}

@media (max-width: 800px) {
  footer {
    text-align: center;
    padding-bottom: 20px;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  footer {
    text-align: center;
    font-size: 16px;
  }
}

hr {
  display: block;
  background-color: #000;
  width: 100%;
  height: 3px;
}

/* .services-header-img {
  width: 100%;
  margin-top: -90px;
}

.services {
  margin: 40px 0;
}

.services h2 {
  font-size: 32px;
}

.row {
  display: flex;
  margin-top: 40px;
}

.row .content {
  border: 1px solid black;
  background-color: rgb(235, 235, 235);
  padding: 20px;
}

.row .content button {
  height: 40px;
  padding: 0 60px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 14px;
}

.bottom-section .bottom {
  display: flex;
  margin-top: 40px;
}

.bottom-section .bottom ul {
  list-style: disc;
  padding-left: 25px;
  padding-top: 20px;
}

.bottom-section .bottom .main {
  width: 50%;
}

.services-info-img {
  width: 100%;
}

.separator {
  border: 1px solid black;
  margin-top: 40px;
} */
